<h1>Event Leave Notification</h1>
<p>Dear {{organizerName}},</p>
<p>We would like to inform you that a user has left your event. Here are the details:</p>
<ul>
    <li><strong>User Email:</strong> {{userEmail}}</li>
</ul>
<p>We hope the rest of the event goes well. Thank you for organizing it!</p>
<p>Best regards,</p>
<p>The Events Team</p>
