<!-- templates/event-unit-update.hbs -->
<p>Dear Admin,</p>

<p>The following action has been performed on your unit:</p>
<ul>
  <li>Action: {{action}}</li>
  <li>Event: {{eventId}}</li>
  <li>Unit: {{unit}}</li>
</ul>

<p>Thank you,</p>
<p>Your Event Team</p>
