<h1>Event Join Notification</h1>
<p>Dear {{organizerName}},</p>
<p>We are pleased to inform you that a new user has joined your event "{{eventName}}". Here are the details:</p>
<ul>
    <li><strong>Event Name:</strong> {{eventName}}</li>
    <li><strong>User Email:</strong> {{userEmail}}</li>
</ul>
<p>We hope the event goes well. Thank you for organizing it!</p>
<p>Best regards,</p>
<p>The Events Team</p>